#exportPattern("^[[:alpha:]]+")
export("fars_read")
export("make_filename")
export("fars_read_years")
export("fars_summarize_years")
export("fars_map_state")

import(dplyr)
import(readr)
import(magrittr)
import(tidyr)
importFrom("maps", "map")
importFrom("graphics", "points")

